{% extends 'base.html' %}
{% block title %}Industry Affiliations — KLSB{% endblock %}
{% block content %}
<section id="clients" class="py-20 bg-slate-50 text-center">
  <div class="max-w-6xl mx-auto px-6">
    <h2 class="text-3xl font-semibold"> License & Registration </h2>
    <div class="mt-8 flex justify-center">
      <img src="{{ url_for('static', filename='img/license.jpg') }}" alt="Major client" class="w-full max-w-4xl mx-auto rounded-lg shadow-lg object-contain">
    </div>
  </div>
</section>
<section id="clients" class="py-20 bg-slate-50 text-center">
  <div class="max-w-6xl mx-auto px-6">
    <h2 class="text-3xl font-semibold"> AVEVA </h2>
    <div class="mt-8 flex justify-center">
      <img src="{{ url_for('static', filename='img/AVEVA.jpg') }}" alt="Major client" class="w-full max-w-4xl mx-auto rounded-lg shadow-lg object-contain">
    </div>
  </div>
</section>
{% endblock %}
