{% extends 'base.html' %}
{% block title %}Industry Affiliations — KLSB{% endblock %}
{% block content %}
<section id="clients" class="py-8 bg-slate-50 text-center">
  <div class="max-w-6xl mx-auto px-6">
    <h2 class="text-3xl font-semibold"> License & Registration </h2>
    <div class="mt-8 flex justify-center">
  <img src="{{ url_for('static', filename='img/license.jpg') }}" alt="Major client" class="max-w-2xl max-h-[500px] w-full h-auto mx-auto my-10 rounded-lg shadow-2xl object-contain flex items-center justify-center">
    </div>
  </div>
</section>

<section id="clients" class="py-8 bg-slate-50 text-center">
  <div class="max-w-6xl mx-auto px-6">
    <h2 class="text-3xl font-semibold"> CIDB </h2>
    <div class="mt-8 flex justify-center">
  <img src="{{ url_for('static', filename='img/score.jpg') }}" alt="Major client" class="max-w-2xl max-h-[500px] w-full h-auto mx-auto my-10 rounded-lg shadow-2xl object-contain flex items-center justify-center">
    </div>
  </div>
</section>

<section id="clients" class="py-20 bg-slate-50 text-center">
  <div class="max-w-6xl mx-auto px-6">
    <div class="mt-8 flex justify-center">
  <img src="{{ url_for('static', filename='img/G5.jpg') }}" alt="Major client" class="max-w-2xl max-h-[500px] w-full h-auto mx-auto my-10 rounded-lg shadow-2xl object-contain flex items-center justify-center">
    </div>
  </div>
</section>

<section id="clients" class="py-8 bg-slate-50 text-center">
  <div class="max-w-6xl mx-auto px-6">
    <h2 class="text-3xl font-semibold"> MOF </h2>
    <div class="mt-8 flex justify-center">
  <img src="{{ url_for('static', filename='img/MOF_1.jpg') }}" alt="Major client" class="max-w-2xl max-h-[500px] w-full h-auto mx-auto my-10 rounded-lg shadow-2xl object-contain flex items-center justify-center">
    </div>
  </div>
</section>

<section id="clients" class="py-20 bg-slate-50 text-center">
  <div class="max-w-6xl mx-auto px-6">
    <div class="mt-8 flex justify-center">
  <img src="{{ url_for('static', filename='img/MOF_2.jpg') }}" alt="Major client" class="max-w-2xl max-h-[500px] w-full h-auto mx-auto my-10 rounded-lg shadow-2xl object-contain flex items-center justify-center">
    </div>
  </div>
</section>
{% endblock %}
